.main-container {
    display: flex;
    flex-direction: column;
    /* align-items: center; */
    gap: 0px;
    flex: 1;
    overflow: hidden;
}

.container {
    background-color: var(--background-chat);
    display: flex;
    gap: 0px;
    flex: 1;
    justify-content: center;
}

.center-container {
    display: flex;
    flex-direction: column;
    align-items: center;
    flex: 1;
    gap: 0px;
    min-width: 400px;
    max-width: 680px;
}