.container {
    display: flex;
    width: 100%;
    gap: 2px;
    flex-direction: column;
    flex: 1;
    overflow-y: auto;
    filter: opacity(0.4);
    transition: opacity 0.2s ease-in-out;
}

/* Уменьшаем ширину скроллбара */
.container::-webkit-scrollbar {
    width: 6px; /* Толщина вертикального скролла */
    height: 6px; /* Толщина горизонтального скролла (если нужен) */
}

/* Фон скроллбара (дорожка) */
.container::-webkit-scrollbar-track {
    background: transparent; 
}

/* Сам ползунок скроллбара */
.container::-webkit-scrollbar-thumb {
    background-color: rgba(160, 208, 255, 0.2); /* Цвет ползунка */
    border-radius: 3px; /* Закругляем углы */
}

/* При наведении мыши цвет становится чуть темнее */
.container::-webkit-scrollbar-thumb:hover {
    background-color: rgba(160, 208, 255, 0.2);
}

.container:hover {
    filter: opacity(1);
}
