.search-container {
    display: flex;
    width: 100%;
    padding: 10px;
    box-sizing: border-box;
}

.input {
    border-style: none;
    height: 30px;
    border-radius: 10px;
    box-shadow: 0 0 4px 0 rgba(0, 0, 0, 0.25);
    padding-left: 8px;
    font-family: var(--ibm-plex-font-famili), monospace;
    font-size: var(--font-size-base);
    font-weight: 400;
    transition: box-shadow 0.3s ease;
    width: 100%;
}

.input:focus {
    outline: none;
    box-shadow: 0 0 6px 0 #bfdfff;
}

.input:invalid:not(:placeholder-shown) {
    box-shadow: 0 0 6px 0 #ff4d4d; 
}
  
.hidden {
    display: none; /* Скрывает флаг и кнопку выбора страны */
}