.switch-container {
    display: flex;
    gap: 2px;
    width: 400px;
    background-color: white;
    border-radius: 10px;
}

.tab {
    flex: 1;
    display: flex;
    justify-content: center;
    padding: 10px 0px;
    transition: box-shadow 0.3s ease-in-out;
    border-radius: 10px;
    cursor: pointer;
}

.label {
    font-family: 'Roboto';
    font-weight: 600;
    font-size: 18;
    text-align: center;
}

.active {
    box-shadow: 0 0 10px 0 rgba(0, 0, 0, 0.25);
    border-radius: 10px;
}

.not-active:hover {
    box-shadow: 0 0 6px 0 #d1e8ff;
}

